
body {
  background: grey;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}


.top-nav {
  height: 20%;
  width: 100%;
  box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 75%);
}

.logo-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  margin-left: 30px;
}

h1 {
  height: 100%;
  font-size: xxx-large;
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
}

.main {
  display: flex;
  height: 80%;
  flex-direction: row;
}

.trip-details {
  height: 100%;
  width: 30%;
  box-shadow: 0px 10px 10px 0px rgb(0 0 0 / 75%);
}

.trip-area {
  display: flex;
  height: 100%;
  width: 70%;
  flex-direction: column;
}

.display-trips {
  width: 100%;
  height: 35%;
}

.search-trips {
  width: 100%;
  height: 65%;
}

.trip-details-header {
  display: flex;
  justify-content: center;
}

.trip-information-page {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h3 {
  margin-left: 20px;
}









